@model DiaryGradeAddViewModel

<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="gradeForm" asp-action="AddGrades" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="date" class="form-control" id="date" name="date" placeholder="01/01/2024" required>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SubjectId" class="form-label-add-edit">Избери Предмет</label>
                    <select asp-for="@Model.SubjectId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Subjects, "Id", "SubjectName"))">
                        <option value="">Избери Предмет...</option>
                    </select>
                </div>
                <div class="mt-4">
                    <table class="table table-bordered text-center">
                        <thead class="table-light">
                            <tr>
                                <th>Ученик</th>
                                <th>Избери Оценка</th>
                                <th>Оценка</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Students.Count(); i++)
                                {
                                <tr>
                                    <td>@Model.Students[i].FirstName @Model.Students[i].LastName</td>
                                    <td>
                                        <div class="d-flex justify-content-center grade-buttons">
                                            <div class="grade-box" data-grade="2">2</div>
                                            <div class="grade-box" data-grade="3">3</div>
                                            <div class="grade-box" data-grade="4">4</div>
                                            <div class="grade-box" data-grade="5">5</div>
                                            <div class="grade-box" data-grade="6">6</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model.Students[i].Id" />
                                        <input type="number" asp-for="@Model.Students[i].Grade" class="form-control grade-display" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mb-4">
                        <button type="submit" class="btn btn-primary btn-dark-text py-2 fw-bold rounded me-2">
                            <i class="fa-solid fa-check me-2"></i> Запази
                        </button>
                        <a asp-controller="Diary" asp-action="Index" class="btn btn-secondary d-flex justify-content-center align-items-center mx-1">
                            <i class="fa-solid fa-arrow-left me-2"></i>  Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
