@model RemarkFormModel
@{
    ViewData["Title"] = "Добави Забележка";
}

@section Styles {
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-10 offset-md-1" data-aos="fade-up">
            <div class="card shadow p-3 bg-body-tertiary rounded">
                <div class="card-header bg-white" style="border-bottom: 2px solid #E64833;">
                    <h2 class="text-center mb-0">Добави Забележка</h2>
                </div>
                <div class="card-body">
                    <form id="remarkForm" asp-controller="Diary" asp-action="AddRemark" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.AddedOn" for="addedOn">Дата</label>
                                    <input asp-for="@Model.AddedOn" type="date" id="addedOn" class="form-control">
                                    <span asp-validation-for="@Model.AddedOn" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.SubjectId" for="subjectId" class="form-label-add-edit">Избери Предмет</label>
                                    <select asp-for="@Model.SubjectId" id="subjectId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Subjects, "Id", "Name"))">
                                        <option value="">Избери Предмет...</option>
                                    </select>
                                    <span asp-validation-for="@Model.SubjectId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.StudentId" for="studentId" class="form-label-add-edit">Избери Ученик</label>
                                    <select asp-for="@Model.StudentId" id="studentId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Students, "Id", "FullName"))">
                                        <option value="">Избери Ученик...</option>
                                    </select>
                                    <span asp-validation-for="@Model.StudentId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="@Model.RemarkText" for="remarkText" class="form-label-add-edit">Забележка</label>
                            <textarea asp-for="@Model.RemarkText" id="remarkText" class="form-control" rows="4" aria-required="true"></textarea>
                            <span asp-validation-for="@Model.RemarkText" class="text-danger"></span>
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-end gap-2 mt-4">
                            <a asp-controller="Diary" asp-action="Index" class="btn btn-secondary">
                                <i class="fa-solid fa-arrow-left me-2"></i>Назад
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-check me-2"></i>Запази
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Потвърждение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body">
                Сигурни ли сте, че искате да запазите промените?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>
                <button type="button" class="btn btn-primary" id="confirmActionBtn">Запази</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Diary/DateValidation/DateValidation.js" asp-append-version="true"></script>
    <script src="~/js/Diary/Confirmation/ConfirmationModal.js" asp-append-version="true"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/js/Home/FadeUp.js"></script>
    <partial name="_ValidationScriptsPartial" />
}