@model AddNewsViewModel
@{
    ViewData["Title"] = "Добави новина";
}

@section Styles {
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-10 offset-md-1" data-aos="fade-up">
            <div class="card shadow p-3 bg-body-tertiary rounded">
                <div class="card-header bg-white mb-5" style="border-bottom: 2px solid #E64833;">
                    <h2 class="text-center">Добави новина / постижение</h2>
                </div>
                <div class="card-body">
                    <form id="newsForm" asp-controller="News" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Title" class="form-label">Заглавие</label>
                                    <input asp-for="@Model.Title" class="form-control" />
                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Content" class="form-label">Съдържание</label>
                                    <textarea asp-for="@Model.Content" class="form-control" rows="10"></textarea>
                                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Category" class="form-label">Категория</label>
                                    <select asp-for="@Model.Category" class="form-select"
                                            asp-items="@EnumExtensions.ToSelectList<NewsCategory>()">
                                    </select>
                                    <span asp-validation-for="@Model.Category" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Image" class="form-label">Изображение</label>
                                    <input asp-for="@Model.Image" class="form-control" type="file" accept=".jpg,.jpeg,.png" />
                                    <span asp-validation-for="@Model.Image" class="text-danger"></span>
                                    <div class="form-text">Максимален размер: 2MB. Позволени формати: JPG, JPEG, PNG</div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-white border-0 d-flex justify-content-end gap-2 mt-4">
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fa-solid fa-arrow-left me-2"></i>Назад
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i>Запази
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/js/News/FadeUp.js"></script>
    <partial name="_ValidationScriptsPartial" />
}